/*home*/
.vnbuyers-body,
.slide-panel{
    width: 960px;
    margin: 5px auto !important;
}

/*header*/
.header{
    height: 36px;
    width: 100%;
    position: fixed;
    vertical-align: middle;
    top: 0;
    left: 0;
    z-index: 100;
}

// header-bar
.header-bar .menu-hr{
    width: auto;
    float: left;
    margin-left: 50px;
    background-color: transparent;
}

.header-bar .menu-hr .menu-item{
    margin-right: 8px;
}

.header-bar .menu-hr .menu-item a{
    font-size: 80%;
    padding: 5px;
    line-height: normal;
}

.logo{
    display: inline-block;
    width: 100px;
}

.logo-box{
    width: 60px;
}

.logo img{
    width: 60px;
    display: inline-block;
}

.toolbar{
    height: 40px;
    width: 100%;
    padding-left: 100px;
    clear: both;
    margin-top: -4px;
    position: relative;
}

.toolbar-item .menu-hr{
    width: auto;
    float: left;
    margin-left: 50px;
    padding-top: 6px;
    background-color: transparent;
}

.toolbar-item .menu-hr .menu-item{
    margin-right: 8px;
}

.toolbar-item .menu-hr .menu-item a{
    font-size: 80%;
    padding: 5px 8px;
    line-height: normal;
}

.container{
    padding-top: 76px;
    width: 100%;
    position: relative;
}

.content{
    margin: 5px;
    min-height: 400px;
    padding-bottom: 30px;
    -webkit-border-radius: 6px; 
    -moz-border-radius: 6px; 
    border-radius: 6px; 
}

.footer{
    clear: both;
    height: 25px;
    width: 100%;
    text-align: center;
}

.footer h6{
    margin: 0;
    padding-top: 5px;
    height: 25px;
    font-size: 11px;
    font-weight: normal;
    margin-left: 10px;
    text-align: center;
}

/*login*/

.login-body{
    width: 100%;
    height: 100%;
    display: table;
}

.login-panel{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.login-content{
    width: 350px;
    height: auto;
    display: inline-block;
    padding: 15px;
}

.login-title{
    font-size: 14px;
    font-weight: bold;
}

.login-footer{
    height: 40px;
    padding: 10px 5px 10px 10px;
    overflow: hidden;
}

.user-login{
    position: absolute;
    top: 10px;
    right: 15px;
}

/*search*/

.search{
    position: relative;
    height: 30px;
    text-align: center;
    margin: 3px;
}

.search input,
.search select,
.search button{
    display: inline-block;
}

.search input{
    width: 300px;
    height: 30px;
}

.search span{
    font-size: 12px;
    cursor: pointer;
}

.search select{
    height: 30px;
}

.search-product{
    width: 100%;
}

.search-product label,
.search-product input,
.search-product select,
.search-product button{
    display: inline-block;
    margin: 5px;
    font-size: 13px;
}


.language{
    margin-bottom: -1px;
    text-align: right;
}

.language img{
    width: 16px;
    display: inline-block;
    cursor: pointer;
}

.search-advance-panel{
    text-align: center;
    margin: 5px;
    height: 40px;
    padding-top: 8px;
    display: none;
}

.search-advance-panel label{
    font-size: 12px;
    display: inline-block;
    height: auto;
}

.search-advance-panel select{
    height: 25px;
}

.search-advance span{
    margin-left: 10px; 
    cursor: pointer;
    font-size: 80%;
}

/*home product*/

.product-item{
    padding: 5px;
}

.product-title{
    font-size: 13px;
    line-height: 1.4;
    font-weight: bold;
    padding: 5px 10px;
    margin-bottom: 0;
}

.product-intro{
    font-size: 12px;
    padding-left: 10px;
    font-style: italic;
    padding-bottom: 5px;
    display: inline-block;
}

.product-bar{
    position: relative;
    height: 40px;
    text-align: center;
    padding-top: 10px;
}

.product-bar .menu-hr .menu-item a{
    font-size: 10px;
}

.product-price{
    position: absolute;
    display: table;
    height: 40px;
    top:0;
    right:0;
    padding-left:6px;
    padding-right:6px;
    cursor: default;
}

.product-price h6{
    font-size: 12px;
    margin: 0;
    line-height: 1.5;
}

.product-price .price-old{
    text-decoration: line-through;
}

.product-price .price-new{
    font-weight: bold;
}

.product-price div{
    position: relative;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.category-header{
    padding: 0 5px;
}

.category-header h6{
    margin: 0;
    font-size: 12px;
    text-align: center;
}

.category-header .icon-up{
    margin: -5px auto;
}

.category-header .divider--hr{
    overflow: visible;
    text-align: center;
    margin-top: 2px;
}

.product-image{
    width: 40px;
    height: 40px;
}

.product-check{
    padding: 3px;
    cursor: default;
}

.product-check label{
    cursor: pointer;
}

.product-thumbnail{
    cursor: pointer;
    margin: 5px;
}

.slide-panel{
    width: 800px;
    height: 500px;
    overflow: hidden;
}

.slide-control{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 30px;
    font-size: 13px;
    width: 100%;
}

.slide-btn{
    margin: 0 15px 15px 15px;
    cursor: pointer;
}

.search-bar{
    padding: 10px 5px 2px 15px;
}

.search-bar select + label{
    cursor: default;
    margin: 0;
}

.search-bar label,
.search-bar input,
.search-bar select,
.search-bar button{
    display: inline-block;
}

/*product detail*/
.product-detail img{
    width: 100%;
}

.product-icon{
    width: 30px !important;
    height: 30px !important;
    display: inline-block;
    float: left;
}

.thumbnail--product{
    margin: 3px;
}

.product-description{
    margin-top: 15px;
}

.product-description .menu-item a{
    font-size: 13px;
}

.tab-description{
    padding: 10px;
    font-size: 12px;
    font-weight: normal;
}

.tab-comment{
    padding: 10px;
    font-size: 12px;
    font-weight: normal;
    display: none;
}
/*news*/
.head-news{
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.feature-info{
    padding: 20px 20px 30px 20px;
}

.feature-info h5{
    font-size: 18px;
    padding-bottom: 15px;
}

.feature-info span{
    font-size: 12px;
    line-height: 1.5;
    display: inline-block;
}

.support{
    padding: 20px 5px;
}

.support-item a{
    display: block;
    font-size: 13px;
    padding: 5px 20px;
    line-height: 1.5;
    text-align: center;
}

.visit-page{
    margin-top: 10px;
}

.news-time{
    margin-top: 0;
    text-align: right;
    font-size: 11px;
}

.news-item{
    margin: 5px;
}

.news-item .thumbnail-title a{
    font-size: 13px;
    font-weight: bold;
    text-decoration: none;
}

.news-item .thumbnail-content--right{
    padding: 5px;
    font-size: 12px;
    padding-bottom: 10px;
}

.news-content{
    margin: 10px 5px; 
    font-size: 13px; 
    color: #666
}

.news-info{
    margin: 0 auto;
}

/*order*/
.shopping-icon{
    position: fixed;
    bottom: 10px;
    right: 20px;
    height: 30px;
    width: 100px;
}

.shopping-icon h6{
    width: 70px;
    height: 30px;
    font-size: 14px;
    vertical-align: middle;
    display: inline-block;
    text-align: right;
    font-weight: bold;
    cursor: pointer;
}

.shopping-icon img{
    float: right;
    width: 26px;
    height: 26px;
    cursor: pointer;
}

/*order*/
.order-image{
    width: 60px;
}

.order-sumary{
    text-align: right;
    padding-right: 5px;
    width: 100%;
    margin: 10px;
    padding-right: 15px;
}

.order-sumary span{
    margin-left: 10px;
}

/*category*/
.category-cnu{
    margin: 0 auto;
    width: 800px;
    display: none;
}

.category-list{
    margin: 0 auto;
    width: 800px;
}

.comment-info{
    width: 600px;
    margin: 0 auto;
    display: none;
}

.comment-list{
    margin: 0 auto;
}

.avatar-image{
    width: 40px;
    height: 40px;
}
/*user*/
.user-cnu{
    width: 450px;
    float: left;
}

.user-list{
    padding-left: 450px;
}

/*customer*/
.customer-info{
    display: none;
}


/*upload dialog*/
.upload-panel,
.url-panel{
    width: 450px;
    height: 450px;
    overflow: hidden;
    padding: 5px;
    border: 1px dashed #ddd;
}

.upload-panel{
    vertical-align: middle;
    text-align: center;
    position: relative;
}

.upload-panel .preview-img{
    width: 440px;
    height: 440px;
    outline: none;
}

.upload-panel .loading-img{
    width: 50px;
    height: 50px;
    outline: none;
    display: none;
}

.image-choosing{
    position: absolute;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    z-index: 2;
    top:0;
    left: 0;
    width: 440px;
    height: 440px;
}

.image-choosing button{
    margin-top: 200px;
    /*display: none;*/
}

.url-panel img{
    width: 440px;
    height: 405px;
    outline: none;
}


.url-panel input{
    width: 440px;
    margin-bottom: 5px;
}

.url-img:before,
.upload-img:before,
.editing-active:before{
    display: inline-block;
    width: 0;
    height: 0;
    content: " ";
    margin-top: 0;
    margin-right: 5px;
}

/*setting*/
.tree-menu{
    margin: 10px auto;
    width: 95%;
    padding: 10px 0px;
}

.tree-item,
.tree-item-child{
    float: left;
    width: 100%;
    height: 25px;
    font-size: 13px;
    padding-left: 10px;
    cursor: pointer;
    padding-top: 5px;
}

.tree-item-child{
    margin-left: 10px;
    padding-left: 40px;
}
/*overided*/
.button--sm{
    height: 28px !important;
    height: 1.75rem !important;
    line-height: 1.5;
    font-size: 12px;
    min-width: 70px;
    min-width: 4.375rem;
    -webkit-border-radius: 2px; 
    -moz-border-radius: 2px; 
    border-radius: 2px;
}

.thumbnail{
    padding: 0;
}

.thumbnail-link{
    margin: 4px;
}

.product-bar .menu-item a{
    padding-left: 6px;
    padding-right: 6px;
}

.link--more{
    width: 100%;
    text-align: center;
    clear: both;
    position: relative;
    margin: 6px auto 5px auto;
    font-size: 11px;
    font-size: 0.6875rem;
}

.icon-down:after{
    display: inline-block;
    width: 0;
    height: 0;
    content: " ";
    margin-right: 2px;
}

.icon-up:after{
    display: inline-block;
    width: 0;
    height: 0;
    content: " ";
    margin-right: 2px;
}

.divider--hr{
    overflow: visible;
}

.table--list table,
.table--list table td,
.table--list table th{
    border: none;
}

.table--list td select{
    height: 24px !important;
}

.table--list td,th,a{
    font-size: 12px;
    font-size: 0.75rem;
}

.table--list td{
    height: 32px;
    /*height: 1.?785rem;*/
}

.table--list tr:first-child{
    height: 30px;
    height: 1.785rem;
}

.table--list .menu-hr [class^='menu-item'] a {
    font-size: 12px;
    font-size: 0.75rem;
}

.table--list .menu-hr [class^='menu-item'] a:hover {
    text-decoration: underline;
}

.table--list tr{
    cursor: default;    
}

.table--list-child{
    background-color: #ffffff;
    border:none;
}

.table--list-child > td{
    background-color: #ffffff;
    border:none;
    padding-top: 10px;
    padding-bottom: 10px;
}

.table--info td:first-child{
    padding-left: 20px;
    font-size: 12px;
    font-size: 0.75rem;
}

.table--info td{
    padding: 5px;
}

.icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-left: 10px;
    line-height: 1;
    background-image: url('/img/icon/toolbar.png');
    background-size: 2100%;
    /*overflow5 hidden;*/
    float: left;
}

.icon--add-product{
    background-position:0 0;
}

.icon--search-product{
    background-position:5% 0;
}

.icon--add-order{
    background-position: 10% 0;
}

.icon--search-order{
    background-position: 15% 0;
}

.icon--search-user{
    background-position: 20% 0;
}

.icon--add-user{
    background-position: 25% 0;
}

.icon--add-news{
    background-position: 30% 0;
}

.icon--search-news{
    background-position: 35% 0;
}

.icon--add-list{
    background-position: 40% 0;
}

.icon--search-list{
    background-position: 45% 0;
}

.icon--list-param{
    background-position: 50% 0;
}

.icon--add-comment{
    background-position: 55% 0;
}

.icon--export-mail{
    background-position: 60% 0;
}

.icon--unlock{
    background-position: 65% 0;
}


.menu-hr--center{
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.sys-title{
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0 0 15px;
    display: inline-block;
    width: 100%;
}

.center-text{
    text-align: center;
}

.right-text{
    text-align: right;
}

.label--default{
    display: inline-block;
    margin:0 3px 3px 0;
    padding: 4px 5px;
    font-size: 12px;
    font-size: 0.75rem;
}

.label--default span{
    display: inline-block;
    font-size: 12px;
    margin-right: -3px;
    margin-left: 3px;
    cursor: default;
    padding:0 4px 0 4px;
    -webkit-border-radius: 20px; 
    -moz-border-radius: 20px; 
    border-radius: 20px; 
}

/*upload*/
.item-image{
    display: inline-block;
    margin-top: 5px;
    width: 180px;
    height: 180px;
    float: left;
    position: relative;
    margin-bottom: 35px;
}

.message-confirm div{
    font-size: 13px;
    position: relative;
    margin: 15px auto;
    text-align: center;
}

.image-loading{
    display: none;
    margin-left: 40px;
    margin-bottom: 10px;
}

.message-error{
    display: none;
    font-size: 13px;
    color: red;
    position: relative;
    margin: 15px auto;
}

.pagination--btn{
    height: 26px;
    float: right;
    margin-bottom: 20px;
}

.pagination--btn li a{
    font-size: 12px;
    height: 26px;
}


.loading{
    height: 20px;
    width: 100%;
    font-size: 13px;
    padding-left: 50px;
    display: none;
}

.loading img{
    float: left;
    margin-right: 10px;
}

.loading span{
    display: inline-block;
    margin-top: 5px;
}

.lg-input{
    height: 40px !important;
    font-size: 150%  !important;
    margin: 0 !important;
    padding: 0 !important;
    padding-left: 5px !important;
}
