body{
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    background-color: #fff;
    color: #444;
    font-size: 14px;
}

html{
    background-color: #fff;
}

h1{
    font-size: 120%;
}

h6{
    font-size: 120%;
}

input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="email"], 
input[type="month"], 
input[type="number"], 
input[type="range"], 
input[type="reset"], 
input[type="search"], 
input[type="tel"], 
input[type="time"], 
input[type="week"],
select{
    font-size: 13px;
    font-size: 0.8125rem;
    height: 28px;
    color: #666666;
    -webkit-box-shadow: inset 0 1px 1px transparent;
    box-shadow: inset 0 1px 1px transparent; 
    padding-left: 5px;
}

textarea{
    font-size: 13px;
    font-size: 0.8125rem;
    color: #666666;
    -webkit-box-shadow: inset 0 1px 1px transparent;
    box-shadow: inset 0 1px 1px transparent;  
    resize: none;
}

table th,
table td{
    color: #666666;
}

.hidden{
    display: none;
}

[class*="nar-"],
[class*="pad-"],
[class*="med-"],
[class*="wid-"] {
    padding: 0;
}

td{
    /*    font-size: 13px;
        line-height: 1.5;*/
}

.normal{
    font-style: normal;
    font-weight: normal;
}

.width-input,
.width-text
{
    width: 300px !important;
    width: 18.75rem !important;
}

.width-select{
    width: 120px !important;
    width: 7.5rem !important;
}

.width-check{
    width: 40px !important;
    width: 2.5rem !important; 
}

.width-50{
    width: 50px !important;
    width: 3.125rem !important;
}

.width-80{
    width: 80px !important;
}

.width-100{
    width: 100px !important;
    width: 6.25rem !important;
}

.width-120{
    width: 120px !important;
    width: 7.5rem !important;
}

.width-150{
    width: 150px !important;
    width: 9.375rem !important;
}

.width-200{
    width: 200px !important;
    width: 12.75rem !important;
}

.width-250{
    width: 250px !important;
    width: 15.625rem !important;
}

.width-300{
    width: 300px !important;
    width: 18.75rem !important;
}

.width-400{
    width:400px !important; 
    width:25rem !important;
}

.width-500{
    width:500px !important; 
    width: 31.25rem !important;
}

.italic-11{
    font-size: 11px;
    font-size: 0.6875rem;
    font-style: italic;
}

.italic-12{
    font-size: 12px;
    font-size: 0.75rem;
    font-style: italic;
}

.italic-13{
    font-size: 13px;
    font-size: 0.8125rem;
    font-style: italic;
}

p{
    margin: 3px 0;
}

.link--more{
    width: 100%;
    text-align: center;
    clear: both;
    position: relative;
    margin: 6px auto 5px auto;
    font-size: 12px;
}

.link--more:hover{
    text-decoration: underline;
}

a{
    text-decoration: none;
    color: #444;
}

a:hover{
    text-decoration: underline;
}


@media ( min-width: 768px ) {
    
}